# Environment variables
.env

# Media files
media/

# Database backups
backups/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Virtual environments
.venv/
celerybeat-schedule
__pycache__/
